@model Course

<div class="card mb-3" id="course_@Model.Id">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/@Model.Image" width="200" height="120" class="img-fluid rounded-start">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
    </div>
</div>